@import 'variables'

.cart-items
  border-top: 1px solid $text-color
  list-style: none
  margin: 0 auto
  max-width: 700px
  padding: 0
  width: 100%

.cart-item
  +flexbox
  +align-items(center)
  border-bottom: 1px solid $text-color
  font-size: 15px
  padding: 40px 0

  @media screen and (max-width: $break-small)
    +align-items(flex-start)
    +flex-wrap(wrap)
    padding: 30px 0

.cart-item-remove
  cursor: pointer
  height: 25px
  margin-right: 26px
  width: 25px

  @media screen and (max-width: $break-small)
    margin-right: 10px

.cart-remove-icon
  display: block
  fill: $text-color

.cart-item-image
  background-position: 50% 50%
  background-size: cover
  display: block
  height: 120px
  margin-right: 20px
  max-width: 120px
  width: 100%

  @media screen and (max-width: $break-small)
    height: 60px
    max-width: 60px

.cart-item-details
  max-width: 300px
  width: 100%

  @media screen and (max-width: $break-small)
    +flex-basis(calc(100% - 115px))

.cart-item-details-price
  margin-left: auto

.cart-item-quantity-holder
  margin-left: auto
  width: 60px

  input
    +all-transitions
    background: none
    border: none
    border-bottom: 1px solid $text-color
    font-size: 15px
    padding: 8px 0
    text-align: center
    width: 100%

    &:active, &:focus
      border-color: $text-color

.cart-footer
  font-size: 25px
  margin: 50px auto 0
  max-width: 700px
  width: 100%

.cart-subtotal
  +flexbox

.cart-subtotal-amount
  margin-left: auto

.checkout-btn
  display: block
  margin: 50px auto 0

  @media screen and (max-width: $break-small)
    max-width: 100%

a.continue-shopping
  +all-transitions
  background-color: transparent
  border-color: transparent
  color: $text-color
  display: block
  margin: 20px auto 0
  padding: 0

  &:hover, &:focus
    border-color: transparent
    color: $text-color
