@import 'variables'

.contact-form
  margin: 0 auto
  max-width: 700px

.contact-form-group
  display: block
  margin: 0 auto
  margin-bottom: 60px
  max-width: 660px
  position: relative
  width: 100%

  &.contact-captcha
    margin-bottom: 40px

  .contact-form-label
    cursor: text
    font-size: 25px
    left: 0
    position: absolute
    top: 20px
    color: $text-color
    background-color: transparent
    transition: transform 150ms ease-out, font-size 150ms ease-out

  input, textarea
    +transition(all .3s)
    background-color: transparent
    border: 0
    border-bottom: 2px solid $text-color
    font-size: 25px
    height: 70px
    outline: 0
    padding: 30px 0 10px
    position: relative
    width: 100%

    @media screen and (max-width: $break-small)
      font-size: 20px
      padding-top: 20px

  &.contact-send
    margin-top: 100px

    @media screen and (max-width: $break-small)
      margin-top: 50px

.focused .contact-form-label
  transform: translateY(-125%)
  font-size: 15px
  opacity: .6

#captcha_image
  position: absolute
  right: 0
  top: 9px

.captcha-instructions
  margin-top: 20px

.send-message-button
  display: block
  margin: 0 auto