@import 'variables'

.home-welcome
  color: $welcome-header-text-color
  margin-bottom: 50px
  position: relative

.welcome-message
  +transform(translateX(-50%) translateY(-50%))
  font-size: 50px
  left: 50%
  position: absolute
  text-align: center
  top: 50%
  width: 75%

  @media screen and (max-width: $break-small)
    font-size: 25px
    line-height: 30px

.welcome-image
  display: block
  max-width: 100%

.featured-categories

.featured-category
  +flexbox
  background-color: $accent-color
  margin-bottom: 30px
  min-height: 400px
  padding: 80px

.featured-category-info
  +flexbox
  +align-items(center)
  +flex-direction(column)
  +justify-content(center)
  +flex(1)
  font-size: 25px

.featured-category-title
  font-size: 15px
  line-height: 20px

.featured-category-name
  line-height: 50px
  margin-bottom: 30px

.featured-category-button
  max-width: 275px
  width: 100%

.featured-category-products
  +flexbox
  +align-items(center)
  +flex-direction(column)
  +justify-content(center)
  +flex(1)
  position: relative

.featured-category-product
  left: 0
  position: absolute
  max-width: 50%
  top: 0

  &.single-featured-product
    +transform(translateX(-50%))
    left: 50%

  img
    display: block
    max-width: 100%
    width: 100%

  &:nth-child(2)
    bottom: 0
    left: auto
    right: 0
