@import 'variables'

.home-welcome
  margin-bottom: 50px

.featured-categories

.featured-category
  +flexbox
  background-color: $accent-color
  margin-bottom: 30px
  padding: 80px

.featured-category-info
  +flexbox
  +align-items(center)
  +flex-direction(column)
  +justify-content(center)
  +flex(1)
  font-size: 25px

.featured-category-title
  font-size: 15px
  line-height: 20px

.featured-category-name
  line-height: 50px
  margin-bottom: 30px

.featured-category-button
  max-width: 275px
  width: 100%

.featured-category-products
  +flexbox
  +align-items(center)
  +flex-direction(column)
  +justify-content(center)
  +flex(1)
