@import 'variables'

*
  box-sizing: border-box

html.standalone-page
  height: 100%
  min-height: 100%
  position: relative
  width: 100%

body
  +flexbox
  +flex-direction(column)
  background-color: $background-color
  color: $text-color
  font-family: $primary-font
  font-size: 14px
  height: 100%
  min-height: 100vh

  &.no-scroll
    overflow: hidden
    position: relative

  &.maintenance-page

    .maintenance-content
      +flexbox
      +align-items(center)
      +justify-content(center)
      +flex-direction(column)
      height: 100%
      position: relative
      text-align: center

    h1
      font-size: 50px
      position: absolute
      top: 100px

      @media screen and (max-width: $break-small)
        top: 50px

    p
      font-size: 40px

      @media screen and (max-width: $break-small)
        font-size: 18px

    .maintenance-social-links
      font-size: 25px
      margin: 0
      padding: 0

      @media screen and (max-width: $break-small)
        font-size: 15px

      li
        display: inline-block

        @media screen and (max-width: $break-small)
          display: block
          margin-bottom: 10px

      a
        cursor: pointer !important
        display: block
        padding: 4px 10px

a, a:visited
  color: $text-color
  text-decoration: none

.button, a.button
  +all-transitions
  +appearance(none)
  background-color: $text-color
  border-radius: 0
  border: none
  color: $background-color
  cursor: pointer
  font-family: $primary-font
  font-size: 15px
  height: 60px
  line-height: 60px
  outline: none
  max-width: 275px
  padding: 0 40px
  text-align: center
  width: 100%

  &.centered-button
    display: block
    margin: 60px auto

  &:active, &:focus, &:hover
    box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.4)
    +transform(scale(1.02, 1.02))

input, textarea
  +appearance(none)
  border-radius: 0
  border: 4px solid $text-color
  color: $text-color
  font-family: $primary-font
  font-size: 14px
  outline: none

  &:active, &:focus
    outline: none

h1, h2, h3, h4, h5, h6
  color: $text-color
  font-weight: normal
  margin: 0
  padding: 0
  text-align: center

h1
  font-size: 40px
  line-height: 50px
  margin-bottom: 55px

@keyframes showErrors
  from
    opacity: 0

  to
    opacity: 1

.error-modal
  +flexbox
  +justify-content(center)
  +align-items(center)
  bottom: 0
  height: 100%
  padding: 20px
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  z-index: 30

  .error-background
    background-color: $background-color
    bottom: 0
    height: 100%
    left: 0
    opacity: .8
    position: absolute
    right: 0
    top: 0
    width: 100%

  .error-container
    animation: showErrors .2s
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.2)
    background-color: $background-color
    max-width: 600px
    padding: 50px 100px
    position: relative
    text-align: center
    width: 100%

    @media screen and (max-width: $break-small)
      padding: 50px

  .error-list
    font-size: 15px
    list-style: none
    margin: 0
    padding: 0

  .close-errors
    cursor: pointer
    padding: 2px
    position: absolute
    right: 20px
    top: 20px

    svg
      fill: $text-color

.wrapper
  margin: 0 auto
  max-width: 1240px
  padding: 0 20px
  width: 100%

#home .content .wrapper, #product .content .wrapper
  padding: 0

#cart .content .wrapper, #contact .content .wrapper
  padding: 0 50px

.custom-content
  font-size: 20px
  line-height: 32px
  margin: 0 auto
  max-width: 760px
  width: 100%

  @media screen and (max-width: $break-small)
    font-size: 18px
    line-height: 28px
    padding: 0 30px

  ul, ol
    padding-left: 1em

  a
    text-decoration: underline

  img, iframe
    max-width: 100%

.lookbook-gallery
  text-align: center

  &:not(:only-child)
    margin-top: 50px

.lookbook-gallery-image
  display: block
  margin-bottom: 50px

  &:last-child
    margin-bottom: 0

.header
  margin-bottom: 100px

  @media screen and (max-width: $break-small)
    margin-bottom: 50px

a.store-link
  color: $shop-name-text-color
  display: block
  font-family: $shop-name-font
  font-size: 50px
  margin: 100px auto
  max-width: 754px
  width: 100%

  @media screen and (max-width: $break-small)
    margin: 50px auto

.store-logo
  display: block
  margin: 0 auto
  max-width: 100%
  max-height: 400px

  @media screen and (max-width: $break-small)
    max-height: 200px

.header-nav-container
  background: $background-color
  padding: 20px 0
  position: relative
  z-index: 10

  &.fixed
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 20

    @media screen and (max-width: $break-small)
      padding: 20px 10px

.header-nav
  +flexbox
  +justify-content(center)
  font-size: 25px
  list-style: none
  margin: 0
  padding: 0
  position: relative

  @media screen and (max-width: $break-small)
    +justify-content(space-evenly)
    font-size: 20px

  > li
    display: block
    position: relative

    &.overlay-open

      @media screen and (max-width: $break-small)
        ul
          -webkit-overflow-scrolling: touch
          +transform(none)
          +transition(none)
          height: 100vh
          left: 0
          max-height: 100vh
          opacity: 1
          padding: 70px 50px
          position: fixed
          top: 0
          width: 100vw
          z-index: 30
          visibility: visible

        .close-overlay
          background: none
          border: none
          color: $text-color
          display: block
          height: 24px
          line-height: normal
          padding: 5px
          position: fixed
          right: 30px
          top: 30px
          width: 24px
          z-index: 40

    > a, > .dropdown-title, .open-overlay
      cursor: pointer
      display: block
      font-family: $primary-font
      padding: 2px 25px
      position: relative

      @media screen and (max-width: $break-small)
        padding: 2px 10px

    .open-overlay
      +appearance(none)
      border: none
      background: none
      color: $text-color

    .close-overlay
      height: auto !important

  .close-overlay
    display: none

    svg
      fill: $text-color

  ul
    +transform-origin(100% 0%)
    +transform(translateX(-50%) scaleY(0.75))
    +transition(all 0.3s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out)
    box-shadow: 0 30px 40px -10px rgba(0,0,0,0.20)
    background: $background-color
    font-size: 15px
    left: 50%
    list-style: none
    margin: 0
    max-height: 450px
    opacity: 0
    overflow: auto
    padding: 10px 0 0 0
    position: absolute
    top: 100%
    width: 300px
    visibility: hidden
    z-index: 20

    > li
      border-bottom: 1px solid $accent-color

      a
        +flexbox
        +justify-content(center)
        +align-items(center)
        cursor: pointer
        height: 67px
        line-height: 20px
        padding: 0 30px

        &:active, &:focus, &:hover
          background: $text-color
          color: $background-color
          outline: none

      &:last-child
        border-bottom: 0px

@media screen and (min-width: $break-small)
  .header-nav li:hover > ul, .header-nav li:focus-within > ul, .header-nav li ul:hover
    +transform(scale(1) translateY(0) translateX(-50%))
    visibility: visible
    opacity: 1
    transition-delay: 0s

    @media screen and (max-width: $break-small)
      +transform(none)
      left: 0

ul li ul li
  clear: both
  width: 100%

.search-form
  +flexbox
  +justify-content(center)
  +align-items(center)
  cursor: pointer
  height: 67px
  line-height: 20px
  padding: 0 30px

  input
    border: 0
    background-color: $background-color
    color: $text-color
    font-size: 15px
    text-align: center

    &::-webkit-input-placeholder
      color: $text-color

    &:-moz-placeholder
      color: $text-color

    &:-ms-input-placeholder
      color: $text-color

  button.search-button
    background: none
    border: none
    margin-right: 5px
    padding: 2px
    width: auto

.cart-item-count
  font-size: 15px
  min-width: 40px
  position: absolute
  right: -15px
  text-align: left
  top: -8px

  @media screen and (max-width: $break-small)
    right: -30px

  &.no-items
    opacity: 0
    visibility: hidden

header, footer
  +flexbox
  +flex-direction(column)
  text-align: center

footer
  padding: 100px 0

.footer-store-name
  font-size: 20px
  line-height: 30px
  margin-bottom: 5px

.footer-store-credit
  font-size: 13px

.flash-message
  display: none

.has-flash-message .flash-message
  +flexbox
  +align-items(center)
  +justify-content(center)
  background-color: $accent-color
  color: $text-color
  font-size: 15px
  left: 0
  line-height: 26px
  padding: 14px 20px
  position: relative
  top: 0
  width: 100%
  z-index: 9

  .flash-message-text
    text-align: center
    width: calc(100% - 100px)

    @media screen and (max-width: $break-small)
      width: calc(100% - 50px)

  .flash-message-close
    +transform(translateY(-50%))
    cursor: pointer
    position: absolute
    right: 20px
    top: 50%

    svg
      fill: $text-color
      height: 11px
      width: 11px