@import 'variables'

*
  box-sizing: border-box

html.standalone-page
  height: 100%
  min-height: 100%
  position: relative
  width: 100%

body
  +flexbox
  +flex-direction(column)
  background-color: $background-color
  color: $text-color
  font-family: $primary-font
  font-size: 14px
  height: 100%
  min-height: 100vh

  &.maintenance-page

    .maintenance-content
      +flexbox
      +align-items(center)
      +justify-content(center)
      +flex-direction(column)
      height: 100%
      position: relative
      text-align: center

    h1
      font-size: 50px
      position: absolute
      top: 100px

      @media screen and (max-width: $break-small)
        top: 50px

    p
      font-size: 40px

      @media screen and (max-width: $break-small)
        font-size: 18px

    .maintenance-social-links
      font-size: 25px
      margin: 0
      padding: 0

      @media screen and (max-width: $break-small)
        font-size: 15px

      li
        display: inline-block

        @media screen and (max-width: $break-small)
          display: block
          margin-bottom: 10px

      a
        cursor: pointer !important
        display: block
        padding: 4px 10px

a, a:visited
  color: $text-color
  text-decoration: none

button, a.button
  +all-transitions
  +appearance(none)
  background-color: $text-color
  border-radius: 0
  border: none
  color: $background-color
  cursor: pointer
  font-family: $primary-font
  font-size: 15px
  height: 60px
  line-height: 60px
  outline: none
  max-width: 275px
  padding: 0 40px
  text-align: center
  width: 100%

  &.centered-button
    display: block
    margin: 60px auto

  &:hover, &:active
    background-color: $background-color
    color: $text-color

input, textarea
  +appearance(none)
  border-radius: 0
  border: 4px solid $text-color
  color: $text-color
  font-family: $primary-font
  font-size: 14px
  outline: none

  &:active, &:focus
    outline: none

h1, h2, h3, h4, h5, h6
  color: $text-color
  font-weight: normal
  margin: 0
  padding: 0
  text-align: center

h1
  font-size: 40px
  line-height: 50px
  margin-bottom: 55px

@keyframes showErrors
  from
    opacity: 0

  to
    opacity: 1

.error-modal
  +flexbox
  +justify-content(center)
  +align-items(center)
  bottom: 0
  height: 100%
  padding: 20px
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  z-index: 10

  .error-background
    background-color: $background-color
    bottom: 0
    height: 100%
    left: 0
    opacity: .8
    position: absolute
    right: 0
    top: 0
    width: 100%

  .error-container
    animation: showErrors .2s
    box-shadow: 0px 0px 5px 5px $text-color
    background-color: $background-color
    max-width: 600px
    padding: 50px 100px
    position: relative
    text-align: center
    width: 100%

  .error-list
    font-size: 15px
    list-style: none
    margin: 0
    padding: 0

  .close-errors
    position: absolute
    right: 20px
    top: 20px

.wrapper
  margin: 0 auto
  max-width: 1240px
  padding: 0 20px
  width: 100%

@media screen and (max-width: $break-small)
  #product .content .wrapper
    padding: 0

.custom-content
  font-size: 20px
  line-height: 32px
  margin: 0 auto
  max-width: 760px
  width: 100%

  ul, ol
    padding-left: 1em

  img, iframe
    max-width: 100%

.lookbook-gallery
  text-align: center

  &:not(:only-child)
    margin-top: 100px

    @media screen and (max-width: $break-small)
      margin-top: 50px

.lookbook-gallery-image
  margin-bottom: 25px

  &:last-child
    margin-bottom: 0

.header
  margin-bottom: 100px

  @media screen and (max-width: $break-small)
    margin-bottom: 50px

.store-link
  display: block
  font-size: 50px
  margin: 100px auto

  @media screen and (max-width: $break-small)
    margin: 50px auto

.header-nav-container
  padding: 20px 0
  position: relative
  z-index: 1

  &.fixed
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 2

    @media screen and (max-width: $break-small)
      padding: 20px 10px

    .header-nav-background
      opacity: .9

.header-nav-background
  background-color: $background-color
  bottom: 0
  left: 0
  opacity: 1
  position: absolute
  top: 0
  width: 100%

.header-nav
  +flexbox
  +justify-content(center)
  font-size: 25px
  list-style: none
  margin: 0
  padding: 0
  position: relative

  @media screen and (max-width: $break-small)
    +justify-content(space-evenly)
    font-size: 20px

  > li
    display: block
    position: relative

    > a, > .dropdown-title
      display: block
      padding: 2px 25px
      position: relative

      @media screen and (max-width: $break-small)
        padding: 2px 10px

  ul
    +transform-origin(100% 0%)
    +transform(translateX(-50%) scaleY(0.75))
    +transition(all 0.3s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out)
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, .5)
    background: $background-color
    font-size: 15px
    left: 50%
    list-style: none
    margin: 0
    opacity: 0
    padding: 0
    position: absolute
    top: 100%
    width: 300px
    visibility: hidden
    z-index: 2

    > li
      border-bottom: 1px solid $text-color

      a
        +flexbox
        +justify-content(center)
        +align-items(center)
        cursor: pointer
        height: 67px
        line-height: 20px
        padding: 0 30px

        &:hover, &:active
          background: $text-color
          color: $background-color

.header-nav li:hover > ul, .header-nav li:focus-within > ul, .header-nav li ul:hover
  +transform(scale(1) translateY(0) translateX(-50%))
  visibility: visible
  opacity: 1
  transition-delay: 0s

ul li ul li
  clear: both
  width: 100%

.search-form
  +flexbox
  +justify-content(center)
  +align-items(center)
  cursor: pointer
  height: 67px
  line-height: 20px
  padding: 0 30px

  input
    border: 0
    color: $text-color
    font-size: 15px
    text-align: center

.cart-item-count
  font-size: 15px
  position: absolute
  right: 0
  top: -10px

header, footer
  +flexbox
  +flex-direction(column)
  text-align: center

footer
  padding: 100px 0

.footer-store-name
  font-size: 20px
  line-height: 30px
  margin-bottom: 5px

.footer-store-credit
  font-size: 13px