@import 'variables'

.product-page-content
  margin: 0 auto
  max-width: 754px
  width: 100%

.primary-product-image-container
  margin-bottom: 100px

  @media screen and (max-width: $break-small)
    margin-bottom: 50px

.primary-product-image
  display: block
  width: 100%

.secondary-product-image-container
  margin-top: 50px

.secondary-product-image
  display: block
  margin-bottom: 100px
  width: 100%

  &:last-child
    margin-bottom: 0

.product-page-details
  +flexbox
  +flex-wrap(wrap)

  @media screen and (max-width: $break-small)
    +flex-direction(column)
    padding: 0 20px

.product-page-titles
  +flex-basis(100%)
  order: 1

h1.product-name
  font-size: 25px
  line-height: 36px
  margin-bottom: 8px
  text-align: left

.product-page-price
  font-size: 15px

.product-description
  font-size: 20px
  line-height: 32px
  margin-top: 50px
  order: 3

  ul, ol
    padding-left: 1em

  a
    text-decoration: underline

  img, iframe
    max-width: 100%

.product-form
  margin-left: auto
  max-width: 300px
  order: 2
  width: 100%

  @media screen and (max-width: $break-small)
    margin-left: 0
    margin-top: 50px
    max-width: 100%

    .add-to-cart-button
      max-width: 100%

  + .product-page-titles
    +flex-basis(calc(100% - 375px))

.product-quantity, #option
  display: none

.product-option-selection
  font-size: 15px
  height: 60px
  margin: 0 0 0 auto
  position: relative
  text-align: center
  width: 100%

.product-option-selection-title
  +all-transitions
  +flexbox
  +justify-content(center)
  +align-items(center)
  background: $text-color
  border: none
  color: $background-color
  cursor: pointer
  height: 60px
  padding: 0 50px
  white-space: nowrap

  &.opened .down-arrow
    +transform(rotate(180deg))

  &:hover
    background: $text-color
    color: $background-color

    .down-arrow
      fill: $background-color

  .dropdown-title
    display: none

  .dropdown-select-title

  .down-arrow
    fill: $background-color
    margin-left: 10px

.product-option-list
  +transform-origin(100% 0%)
  +transform(scaleY(0.75))
  +transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out)
  box-shadow: 0px 0px 10px 0px $text-color
  background: $background-color
  list-style: none
  margin: 0
  opacity: 0
  padding: 0
  position: absolute
  top: 100%
  width: 100%
  visibility: hidden
  z-index: 2

  li
    +flexbox
    +align-items(center)
    +justify-content(center)
    border-bottom: 1px solid $text-color
    min-height: 60px

    span.product-option
      display: block
      cursor: pointer
      line-height: 20px
      padding: 10px 30px

    &:hover, &:active
      background: $text-color
      color: $background-color

  &:last-child
    border-bottom: 0px

  &.visible
    opacity: 1
    visibility: visible
    +transform(scale(1) translateY(0))

.all-similar-products
  display: none

.similar-products
  background-color: $accent-color
  margin-top: 200px
  padding: 100px 0

  @media screen and (max-width: $break-small)
    margin-top: 50px
    padding: 50px 20px

    .similar-product
      padding-bottom: 50px
      width: 100%

.similar-products-header
  font-size: 25px
  margin-bottom: 40px
  text-align: center
