@import 'variables'

.product-list
  +flexbox
  +flex-wrap(wrap)
  +justify-content(center)
  font-size: 20px

  @media screen and (max-width: $break-small)
    +justify-content(flex-start)
    margin: 0 -10px
    width: auto

.product-list-item
  display: inline-block
  padding-bottom: 80px
  position: relative
  vertical-align: middle
  text-align: center
  width: #{"{% if theme.max_products_per_row == 4 %} 25% {% elsif theme.max_products_per_row == 3 %} 33.33% {% elsif theme.max_products_per_row == 2 %} 50% {% else %} 100% {% endif %}"}

  @media screen and (max-width: $break-small)
    padding: 0 10px 50px 10px
    width: #{"{% if theme.max_products_per_row_mobile == 2 %} 50% {% else %} 100% {% endif %}"}

.product-list-item-container
  cursor: default
  display: inline-block
  padding-bottom: 100%
  position: relative
  width: 100%

.product-list-image-container
  font-size: 0
  width: 100%

  &:hover .product-list-image:last-child
    opacity: 1

.product-list-image
  +transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25))
  +transform(translate3d(-50%,-50%,0))
  cursor: pointer
  left: 50%
  position: absolute
  top: 50%
  max-width: 100%

  &.image-tall
    height: calc(100% - 60px)
    width: auto

  &.image-wide
    height: auto
    width: calc(100% - 60px)

  &.image-square
    height: calc(100% - 20px)
    width: calc(100% - 20px)

  &:last-child
    opacity: 0

  &:only-child
    opacity: 1

.product-list-item-name
  font-size: 20px
  line-height: 30px
  margin-bottom: 5px
  padding: 0 20px

  @media screen and (max-width: $break-small)
    font-size: #{"{% if theme.max_products_per_row_mobile == 2 %} 18px {% else %} 20px {% endif %}"}
    line-height: #{"{% if theme.max_products_per_row_mobile == 2 %} 26px {% else %} 30px {% endif %}"}
    padding: 0 8px

.product-list-item-price
  font-size: 15px

.pagination
  +flexbox
  +justify-content(center)
  color: $text-color
  font-size: 15px
  margin: 50px auto 0
  max-width: 375px
  position: relative
  text-align: center
  width: 100%

.pagination-link
  +transform(translateY(-50%))
  padding: 2px 10px
  position: absolute
  top: 50%

  &.prev-link
    left: 0

  &.next-link
    right: 0

.pagination-arrow
  fill: $text-color

  &.prev-arrow
    +transform(rotate(90deg))
    margin-right: auto

  &.next-arrow
    +transform(rotate(-90deg))
    margin-left: auto