@import 'variables'

.product-list
  +flexbox
  +flex-wrap(wrap)
  font-size: 20px

.product-list-item
  display: inline-block
  padding-bottom: 80px
  position: relative
  vertical-align: middle
  text-align: center
  width: 33.33333%

.product-list-item-container
  cursor: default
  display: inline-block
  padding-bottom: 100%
  position: relative
  width: 100%

.product-list-image-container
  font-size: 0
  margin: 0
  width: 100%

  &:hover .product-list-image:first-child
    opacity: 0
    visibility: hidden

  &:hover .product-list-image:last-child
    opacity: 1
    visibility: visible

.product-list-image
  +transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25))
  cursor: pointer
  left: 50%
  position: absolute
  top: 50%
  transform: translate3d(-50%,-50%,0)
  max-width: 100%

  &.image-tall
    height: calc(100% - 20px)
    width: auto

  &.image-wide
    height: auto
    width: calc(100% - 20px)

  &:last-child
    opacity: 0
    visibility: hidden

  &:only-child
    opacity: 1
    visibility: visible

.product-list-item-name
  font-size: 20px
  line-height: 30px
  margin-bottom: 5px

.product-list-item-price
  font-size: 15px

.pagination
  margin: 0 auto
  max-width: 375px
  width: 100%