@import 'variables'

.product-list
  +flexbox
  +flex-wrap(wrap)
  font-size: 20px

.product-list-item
  display: inline-block
  padding-bottom: 80px
  position: relative
  vertical-align: middle
  text-align: center
  width: 33.33333%

.product-list-item-container
  cursor: default
  display: inline-block
  padding-bottom: 100%
  position: relative
  width: 100%

.product-list-image-container
  font-size: 0
  margin: 0
  width: 100%

.product-list-image-container img
  cursor: pointer
  left: 50%
  position: absolute
  top: 50%
  transform: translate3d(-50%,-50%,0)
  max-width: 100%

.image-tall
  height: calc(100% - 20px)
  width: auto

.image-wide
  height: auto
  width: calc(100% - 20px)