@import 'variables'

.primary-product-image-container
  margin-bottom: 100px

.primary-product-image
  display: block
  width: 100%

.product-form
  margin-left: auto
  max-width: 300px
  width: 100%

.secondary-product-image-container

.secondary-product-image
  display: block
  margin-bottom: 100px
  width: 100%

  &:last-child
    margin-bottom: 0