<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    {{ head_content }}
  </head>
  <body id="{{ page.permalink }}" class="{{ page.category }}">
    <header class="header">
      <div class="wrapper">
        {% if theme.logo != blank %}
          <a class="store-link" href="/" title="{{ store.name | escape }}">
            <img alt="{{ store.name | escape }}" class="store-logo" src="{{ theme.images.logo.url | constrain: 500, 200 }}">
          </a>
        {% else %}
          <a class="store-link" href="/" title="{{ store.name | escape }}">{{ store.name }}</a>
        {% endif %}


          <ul class="header-nav">
            <li>
              <a href="/products" title="Products">Products</a>
              {% if categories.active != blank or artists.active != blank %}
                <ul class="category-dropdown">
                  {% if categories.active != blank %}
                    {% for category in categories.active %}
                      <li>{{ category | link_to }}</li>
                    {% endfor %}
                  {% endif %}
                  {% if artists.active != blank %}
                    {% for artist in artists.active %}
                      <li>{{ artist | link_to }}</li>
                    {% endfor %}
                  {% endif %}
                </ul>
              {% endif %}
            </li>
            {% if pages.all != blank %}
              <li>
                {% if pages.all != blank %}
                  <span>Info</span>
                  <ul class="category-dropdown">
                    {% for page in pages.all %}
                      <li>{{ page | link_to }}</li>
                    {% endfor %}
                    <li><a href="/contact" title="Contact">Contact</a></li>
                  </ul>
                {% endif %}
              </li>
            {% else %}
              <li><a href="/contact" title="Contact">Contact</a></li>
            {% endif %}

            <li><a href="/cart" title="View Cart">Cart / {{ cart.item_count | pluralize: "Item", "Items" }}</a></li>
          </ul>
      </div>
    </header>
    <div class="content">
      <div class="wrapper">
        {% if page.category == 'custom' %}
          <h1 class="page-title">{{ page.name }}</h1>
          <div class="page-content {{ page.category }}-content">
            {{ page_content | paragraphs }}
          </div>
        {% else %}
          {{ page_content }}
        {% endif %}
      </div>
    </div>
    <footer class="footer">
      <div class="wrapper">
        <div class="store-name">{{ store.name }}</div>
        <div class="store-credit">{{ bigcartel_credit }}</div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script src="{{ theme | theme_js_url }}"></script>
  </body>
</html>